@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
h2{
  font-family: 'Lateef', cursive;
  font-size: 50px;
  position: relative;
}

/* .add-btn{
  width: 100px;
  height: 30px;
  margin-left: 20px;
  border: none;
  background-color: green;
  color:#ffff;
  transition: all 0.3s ease;
} */
/* .add-btn:hover{
  border: 1px solid red;
  background-color: gray;
} */

.add-btn{
  margin-top: 15px;
  position: absolute;
  margin-left: 40%;
  
  
}
@media only screen and (max-width: 1250px) {
  .add-btn {
    margin-left: 40%;
    margin-top: 10px;
   
   
  }
  h2{
    font-size: 40px;
  }
}

@media only screen and (max-width: 1060px){
  .add-btn {
    margin-left: 40%;
    margin-top: 6px;
   
   
  }
  h2{
    font-size: 35px;
  }
}

@media only screen and (max-width: 1004px){
  .add-btn {
    margin-left: 38%;
    margin-top: 3px;
   
   
  }
  h2{
    font-size: 30px;
  }
}
@media only screen and (max-width: 770px){
  .add-btn {
    margin-left: 36%;
    margin-top: 3px;
   
   
  }
  h2{
    font-size: 30px;
  }
}
@media only screen and (max-width: 670px){
  .add-btn {
    margin-left: 35%;
    margin-top: 3px;
    font-size: 10px;
   
   
  }
  h2{
    font-size: 30px;
  }
}
@media only screen and (max-width: 630px){
  .add-btn {
    margin-left: 34%;
    margin-top: 3px;
    font-size: 10px;
   
   
  }
  h2{
    font-size: 30px;
  }
}
@media only screen and (max-width: 550px){
  .add-btn {
    margin-left: 32%;
    margin-top: 3px;
    font-size: 10px;
   
   
  }
  h2{
    font-size: 30px;
  }
}

@media only screen and (max-width: 500px){
  .add-btn {
    margin-left: 30%;
    margin-top: 3px;
    font-size: 10px;
   
   
  }
  h2{
    font-size: 30px;
  }
}
@media only screen and (max-width: 460px){
  .add-btn {
    margin-left: 28%;
    margin-top: 3px;
    font-size: 10px;
    border:none;
   
   
  }
  h2{
    font-size: 30px;
  }
}
@media only screen and (max-width: 420px){
  .add-btn {
    margin-left: 26%;
    margin-top: 3px;
    font-size: 10px;
   
   
  }
  h2{
    font-size: 30px;
  }
}
@media only screen and (max-width: 380px){
  .add-btn {
    margin-left: 24%;
    margin-top: 1.5px;
    font-size: 5px;
   
   
  }
  h2{
    font-size: 25px;
  }
}